body {
    margin: 0 auto;
    max-width: 640px;
    padding-top: 72px;
}

.square {
    align-items: center;
    background-color: gray;
    border: 1px solid black;
    display: flex;
    height: 80px;
    width: 80px;
}

.blank {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.black-piece{
    background-color: black;
    border-radius: 90%;
    height: 90%;
    margin: 0 auto;
    width: 90%;
}

.white-piece {
    background-color: white;
    border-radius: 90%;
    height: 90%;
    margin: 0 auto;
    width: 90%;
}

.legal {
    background-color: lightgreen;
    border: 1px solid green;
    cursor: pointer;
}
